<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Angular.Material" version="1.1.7" targetFramework="net461" />
  <package id="Angular.UI.UI-Router" version="0.4.2" targetFramework="net461" />
  <package id="AngularJS.Animate" version="1.6.4" targetFramework="net461" />
  <package id="AngularJS.Aria" version="1.6.4" targetFramework="net461" />
  <package id="AngularJS.Core" version="1.7.2" targetFramework="net461" />
  <package id="AngularJS.Messages" version="1.7.2" targetFramework="net461" />
  <package id="AngularJS.Route" version="1.7.2" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi" version="5.2.4" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.4" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.4" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.4" targetFramework="net461" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="1.0.8" targetFramework="net461" />
  <package id="Microsoft.Net.Compilers" version="2.6.1" targetFramework="net461" developmentDependency="true" />
  <package id="Newtonsoft.Json" version="11.0.1" targetFramework="net461" />
  <package id="RequireJS" version="2.3.5" targetFramework="net461" />
</packages>